/*general styling*/
html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Noto Sans';
    color: hsl(0,0%,90%);
}

/*body styling*/
body{
    background-color: hsl(0,0%,25%);
}

.main{
    /*let's wait to see if it is going to be needed*/
}

.navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(100, 100, 100, 0);
}

.navbar-nav{
    font-weight: bold;
}

.landing{    
    width: 100%;
    height: 47rem;
    background: url('../images/landing3.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px;
}

.greetings__text{
    padding: 17rem 2rem;
}

.greetings__text h1,h5{
    font-weight: bold;
}

.arrows__animation{
    position: absolute;
    left: 50%;
    top: 43rem;
    transform: translate(-50%, -50%);
}

.arrows__animation2{
    position: absolute;
    left: 50%;
    top: 90rem;
    transform: translate(-50%, -50%);
}

.arrows__animation3{
    position: absolute;
    left: 50%;
    top: 137rem;
    transform: translate(-50%, -50%);
}

#three__arrows {
    fill: hsl(0,0%,90%);
    width: 75px;
    height: 65px;

}

#three__arrows:hover polygon {
    fill: hsl(0,0%,90%);
    transition: all 0.2s ease-out;
}

#three__arrows:hover polygon.arrow__bottom {
    transform: translateY(-18px);
}

#three__arrows:hover polygon.arrow__top {
    transform: translateY(18px);
}

polygon {
    fill: hsl(0,0%,90%);
    transition: all 0.2s ease-out;
}

polygon.arrow__middle{
    opacity: 0.75;
}

polygon.arrow__top{
    opacity: 0.5;
}

#aboutme{
    width: 100%;
    height: 47rem;
    background: url('../images/aboutme_bcg.png');
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0px;
}

.section_title>h1{
    padding: 4rem 0rem 2rem 6rem;
    font-weight: bolder;
}

#about__box{
    width:40%;
    text-align:justify;
}

#portfolio{
    width: 100%;
    height: 47rem;
    margin: 0px;
}

.carousel {
    width: 800px;
    height:400px;
}

  .carousel__wrapper{
    height: 100%;
    padding: 0% 22%;
}


.contact{
    width: 100%;
    height: 47rem;
    background: url('../images/part2bckg.png');
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0px;
}

