/*general styling*/
html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Noto Sans';
    color: hsl(0,0%,95%);
}

/*body styling*/
body{
    background-color: hsl(0,0%,25%);
}

li{
    cursor: pointer;
}

footer{
    display: block;
}

.navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0);
}

.navbar-nav{
    font-weight: bold;
}

.nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: hsl(23, 100%, 81%, 1);

}

.nav-link:hover::after{
    width: 100%;
    transition: width .3s;
}


.landing{
    background: url('../images/landing3_old_hd.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.greetings__text{
    padding: 17rem 2rem;
}

.greetings__text h1,h5{
    font-weight: bold;
}

.arrows__animation{
    position: absolute;
    left: 50%;
    top: 580px;
    transform: translate(-50%, -50%);
}

#three__arrows {
    fill: hsl(0,0%,90%);
    width: 75px;
    height: 65px;

}

#three__arrows:hover polygon {
    fill: hsl(0,0%,90%);
    transition: all 0.2s ease-out;
}

#three__arrows:hover polygon.arrow__bottom {
    transform: translateY(-18px);
}

#three__arrows:hover polygon.arrow__top {
    transform: translateY(18px);
}

polygon {
    fill: hsl(0,0%,90%);
    transition: all 0.2s ease-out;
}

polygon.arrow__middle{
    opacity: 0.75;
}

polygon.arrow__top{
    opacity: 0.5;
}

#aboutme{
    width: 100%;
    height: 39rem;
    background: url('../images/sections_bckg_part1.webp');
    background: transparent\2;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.section_title>h1{
    padding: 3rem 0rem 1rem 3rem;
    font-weight: bolder;
}

#about__box{
    width:40%;
    text-align:justify;
}


#portfolio{
    width: 100%;
    height: 39rem;
    background: url('../images/sections_bckg_part2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.carousel {
    width: 720px;
    height: 360px;
}

  .carousel-caption{
    padding-bottom: 10px;
  }


#contact{
    width: 100%;
    height: 34rem;
    background: url('../images/sections_bckg_part3.webp');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.form__style{
    height: 20rem;
    width: 40rem;
    background-color: whitesmoke;
    border-radius: 2rem;
}

.contact__space{
    margin: 2rem 0rem;
}

.contact__space>a{
    text-decoration: none;
}

.contact__links{
    color: snow;
    margin-left: 15px;
}

.contact__links:hover{
    transition: 0.7s;
    color: cyan;
}

.icon{
    filter: invert(1);
}

.icon:hover{
    transition: 0.5s;
    filter: invert(0.8)
            sepia(0.5)
            saturate(10.5)
            hue-rotate(110deg)
            brightness(1);
}

.footer__space{
    padding: 0px 10px;
}



/* For mobile compatibility*/
@media (max-width: 768px){


    .carousel{
        width: 320px;
        height: 160px;
    }

    .carousel__wrapper{
        padding: 3rem 0rem;
    }

    .section_title>h1{
        padding: 2rem 0rem 2rem 1rem;
        font-weight: bolder;
    }

    .moving__arrows{
        visibility: hidden;
    }

    #landing, #aboutme, #portfolio, #contact{
        height: 49rem;
    }

    #about__box{
        width: 100%;
        text-align: justify;
    }
}

/*for 1080p 16:9 compatibily*/
@media (min-width:  1080px){
    
    #landing, #aboutme, #portfolio, #contact{
        height: 45rem;
    }
    .arrows__animation{
        top: 670px;
    }


}
