{% extends "base.html" %}

{% block body %}

  <!--main-->
  <div class="main">

    <!--navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-none">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="topnav-right">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"  onclick="return ScrollToSection('#landing')">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="return ScrollToSection('#aboutme')">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="return ScrollToSection('#portfolio')">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="return ScrollToSection('#contact')">Contact</a>
                    </li>
                </ul>
            </div>
          </div>
      </div>
    </nav>

    <!--First part - landing-->
    <div class="landing container-fluid" id="landing">
      <!--greetings text-->
      <div class="greetings__text">
        <h1>Hi, I'm Luciano,</h3>
        <h5>a full-stack web developer.</h6>
      </div>
      <!--animated arrows for moving down-->
      <div>
        <div class="moving__arrows">
          <a onclick="return ScrollToSection('#aboutme')">
            <div class="container">
              <div class="arrows__animation">
                <svg id="three__arrows">
                  <polygon class="arrow__top" points="37.6,26.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7, 1.3" />
                  <polygon class="arrow__middle" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5, 18.7" />
                  <polygon class="arrow__bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1" /> 
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!--Second Part - About-->
    <div class="section_title" id="aboutme">
      <h1>ABOUT</h1>
      <br>
      <div class="container-fluid" id="about__box">
        <p>I am glad you took some of your valuable time to get to know me better. Believe me, it is really my pleasure. I love making new friends and hearing about experiences and life stories.
        </p>
        <p>
          Regarding myself, at the moment, I am a developer using
          mainly Python to build solutions that solve demands
          and bring creative ideas to life.
        </p>
        <br>
        <button class="btn btn-lg btn-outline-light btn-1">Learn More!</button>
      </div>
    </div>
    
    <!--Third Part - Portfolio-->
    <div class="section_title" id="portfolio">
      <h1>PORTFOLIO</h1>
      <div class="carousel__wrapper d-flex justify-content-center">
        <div id="carouselExampleDark" class="carousel carousel-light slide center" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="../static/images/test1.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>ICMS Ecologico</h5>
                <p>Stack: Python + Flask + MS SQL Server</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
              <img src="../static/images/test1.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Budgetfreak app</h5>
                <p>Stack: Python + Tkinter + SQLite</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
              <img src="../static/images/test1.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>This Portfolio</h5>
                <p>Stack: Python + Django</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <!--Fourth Part - Contact-->
    <div class="section_title" id="contact">
      <h1>CONTACT</h1>
      <p>Get in touch:</p>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <form class="form__style" action="https://formsubmit.co/lucianodelboni.tech@gmail.com" method="POST">
              <div class="form-floating form__firstlastname_space">
                <input class="form-control" type="text" placeholder="First Name" id="first_name" name="Fname" required>
                <label for="first_name">First Name</label>
              </div>
              <div class="form-floating form__firstlastname_space">
                <input class="form-control" type="text" placeholder="Last Name" id="last_name" name="Lname" required>
                <label for="last_name">Last Name</label>
              </div>
              <div class="form-floating form__elements_space">
                <input class="form-control" type="email" placeholder="Email" name="Email" id="email">
                <label for="email">Email</label>
              </div>
              <div class="form-floating form__elements_space">
                <input class="form-control" type="text" placeholder="Subject" id="subject" name="Subject">
                <label for="subject">Subject</label>
              </div>
              <div class="form__elements_space">
                <textarea class="form-control" type="text" placeholder="Type your message..." id="message" name="Messagebox"></textarea>
              </div>
              <div class="form__elements_space text-end">
                <button class="btn btn-outline-dark" type="submit"  id="submit_button" name="Submit">Send</button>
              </div>
            </form>
          </div>
          <!--Second contact section-->
          <div class="col">
            <div class="contact__space">
              <a href="https://www.linkedin.com/in/lmdelboni/" >
                <img class="icon" src="../static/icons/ico_linkedin.svg" alt="Linkedin profile" width="60px" height="60px">
              </a>
              <a href="https://www.linkedin.com/in/lmdelboni/" class="contact__links">Linkedin profile</a>  
            </div>
            <div class="contact__space">
              <a href="https://github.com/lucianodelboni">
                <img class="icon" src="../static/icons/ico_github.svg" alt="Github repositories" width="60px" height="60px">
              </a>
              <a href="https://github.com/lucianodelboni" class="contact__links">Github repositories</a>    
            </div>
            <div  class="contact__space">
              <a href="https://www.codewars.com/users/lucianodelboni">
                <img class="icon" src="../static/icons/ico_codewars.svg" alt="Codewars profile" width="60px" height="60px">
              </a> 
              <a href="https://www.codewars.com/users/lucianodelboni" class="contact__links">Codewars profile</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <footer class="d-flex justify-content-center">
      <div class="footer__space">
        <a href="" style="color:white;">Sitemap</a>        
      </div>
      <div class="footer__space">
        <span>©2021 Luciano Martins Delboni</span>        
      </div>
    </footer>

    
  </div><!--closing main-->

  <script>
    function ScrollToSection(section){
      document.querySelector(section).scrollIntoView({
        })
      }
  </script>
    
{% endblock %}
