{% extends "base.html" %}

{% block body %}

  <!--main-->
  <div class="main">

    <!--navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-none">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="topnav-right">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"  href="#landing" onclick="return ScrollToSection('#landing')">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#aboutme" onclick="return ScrollToSection('#aboutme')">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio" onclick="return ScrollToSection('#portfolio')">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact" onclick="return ScrollToSection('#contact')">Contact</a>
                    </li>
                </ul>
            </div>
          </div>
      </div>
    </nav>
    <!--First part - landing-->
    <div class="landing container-fluid" id="landing">
      <!--greetings text-->
      <div class="greetings__text">
        <h1>Hi, I'm Luciano,</h3>
        <h5>a full-stack web developer.</h6>
      </div>
      <!--animated arrows for moving down-->
      <div>
        <div class="moving__arrows">
          <a onclick="return ScrollToSection('#aboutme')">
            <div class="container">
              <div class="arrows__animation">
                <svg id="three__arrows">
                  <polygon class="arrow__top" points="37.6,26.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7, 1.3" />
                  <polygon class="arrow__middle" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5, 18.7" />
                  <polygon class="arrow__bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1" /> 
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!--Second Part - About-->
    <div class="section_title" id="aboutme">
      <h1>ABOUT</h1>
      <br>
      <div class="container-fluid" id="about__box">
        <p>
          I am glad you took some of your valuable time to get to know me better. I am a calm and easy-going person who loves making new friends and hearing about their life stories.
        </p>
        <p>
          Sharing experiences bolster imagination and creativity and, as a developer, I undoubtedly can say that there is nothing more satisfying than using computer language to translate these feelings into solutions, which not only solve client demands but also bring ideas to life.
        </p>
        <br>
        <button class="btn btn-lg btn-outline-light btn-1" data-bs-toggle="modal" data-bs-target="#aboutme_modal">Learn More!</button>

        <div class="modal fade" id="aboutme_modal" tabindex="-1" aria-labelledby="learn_more_modal">
          <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="learn_more_modal">More about me!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p><strong>The story of my life</strong></p>
                <p>
                  My name is Luciano, and for that many may think I'm italian. Well, I was born in Brazil and I lived most of my life in a city located right in the center of the South America. When growing up, I was mostly interested in making friends, watching cartoons and solving logic puzzles.
                  <button class="btn btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#lifestory_collapse" aria-expanded="false" aria-controls="lifestory_collapse">...</button>
                    <div class="collapse" id="lifestory_collapse">

                      </p>
                      <p>
                        By the time I turned 10, my family bought our first computer. I became instantly obsessed with that. So that, a year later I already knew how to format it and replace hardware and I/O parts. I would spare any time I have left learning more about computers and browsing the internet in search of more knowledge.
                      </p>
                      <p>
                        When I was 16, I started working with computers' troubleshooting and repair and I still do it to this day. My only clients at the time were friends and family and I was doing it as a hobby. As it grew, I would only improve my skillset.
                      </p>
                      <p>
                        When I finished school, I decided I wanted to make our planet a better place or, at least, help it keep favorable to human existence. That's why I graduated in Environmental Engineering and worked for almost 6 years in this field.
                      </p>
                      <p>
                        Even after all this time working in the field, my passion for Information Technology never faded away. That's why when my wife and I received the invitation to move to Canada, the first thing that crossed my mind was going back to my roots and work with technology.
                      </p>
                    </div>
                      <p><strong>Soft Skills:</strong></p>
                      <ul>
                        <li>Problem-Solving</li>
                        <li>Communication</li>
                        <li>Creativity</li>
                        <li>Work Ethic</li>
                        <li>Interpersonal Skills</li>
                        <li>Calmness</li>
                      </ul>

                      <p><strong>Computer Skills:</strong></p>
                      <ul>
                        <li>Backend:</li>
                        <ul>
                          <li>Python</li>
                          <li>VBA</li>
                        </ul>
                        <li>Framework:</li>
                        <ul>
                          <li>Flask</li>
                          <li>Django</li>
                        </ul>
                        <li>Frontend:</li>
                        <ul>
                          <li>HTML</li>
                          <li>CSS</li>
                          <li>JavaScript</li>
                        </ul>
                        <li>Database:</li>
                        <ul>
                          <li>SQLite</li>
                          <li>MySQL</li>
                          <li>Microsoft SQL Server</li>
                        </ul>
                        <li>Versioning and Availability:</li>
                        <ul>
                          <li>Git</li>
                          <li>GitHub</li>
                          <li>DockerHub</li>
                        </ul>
                        <li>Operating System:</li>
                        <ul>
                          <li>Windows</li>
                          <li>Linux</li>
                        </ul>
                        <li>Other:</li>
                        <ul>
                          <li>Photoshop</li>
                          <li>Microsoft Office</li>
                          <li>AutoCAD</li>
                          <li>ArcGIS</li>
                        </ul>
                      </ul>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
    <!--Third Part - Portfolio-->
    <div class="section_title" id="portfolio">
      <h1>PORTFOLIO</h1>
      <!--Carousel of projects-->
      <div id="PortfolioCarousel" class="carousel carousel-light slide center" data-bs-ride="carousel">

        <div class="carousel-indicators">
          <button type="button" data-bs-target="#PortfolioCarousel" data-bs-slide-to="0" aria-current="true" aria-label="Slide 0" class="active"></button>
          <button type="button" data-bs-target="#PortfolioCarousel" data-bs-slide-to="1" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#PortfolioCarousel" data-bs-slide-to="2" aria-label="Slide 2"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../static/images/project01.webp" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Process Management Web App</h5>
              <p>Stack: Python + Flask + MS SQL Server + MySQL</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../static/images/project02.webp" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Budgetfreak app</h5>
              <p>Stack: Python + Tkinter + SQLite</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../static/images/project03.webp" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>This Portfolio</h5>
              <p>Stack: Python + Django</p>
            </div>          
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#PortfolioCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#PortfolioCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!--Fourth Part - Contact-->
    <div class="section_title" id="contact">
      <h1>CONTACT</h1>
      <p class="container-fluid">Get in touch:</p>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <form class="form__style" action="https://formsubmit.co/lucianodelboni.tech@gmail.com" method="POST" autocomplete="off">
              <div class="form-floating form__firstlastname_space">
                <input class="form-control" type="text" placeholder="First Name" id="first_name" name="Fname" required>
                <label for="first_name">First Name</label>
              </div>
              <div class="form-floating form__firstlastname_space">
                <input class="form-control" type="text" placeholder="Last Name" id="last_name" name="Lname" required>
                <label for="last_name">Last Name</label>
              </div>
              <div class="form-floating form__elements_space">
                <input class="form-control" type="email" placeholder="Email" name="Email" id="email" required>
                <label for="email">Email</label>
              </div>
              <div class="form-floating form__elements_space">
                <input class="form-control" type="text" placeholder="Subject" id="subject" name="Subject">
                <label for="subject">Subject</label>
              </div>
              <div class="form__elements_space">
                <textarea class="form-control" type="text" placeholder="Type your message..." id="message" name="Messagebox"></textarea>
              </div>
              <div class="form__elements_space text-end">
                <button class="btn btn-outline-dark" type="submit"  id="submit_button" name="Submit">Send</button>
              </div>
            </form>
          </div>

          <!--Second contact section-->
          <div class="col">
            <div class="contact__space">
              <a href="https://www.linkedin.com/in/lmdelboni/" >
                <img class="icon" src="../static/icons/ico_linkedin.svg" alt="Linkedin profile" width="60px" height="60px">
              </a>
              <a href="https://www.linkedin.com/in/lmdelboni/" class="contact__links">Linkedin profile</a>  
            </div>
            <div class="contact__space">
              <a href="https://github.com/lucianodelboni">
                <img class="icon" src="../static/icons/ico_github.svg" alt="Github repositories" width="60px" height="60px">
              </a>
              <a href="https://github.com/lucianodelboni" class="contact__links">Github repositories</a>    
            </div>
            <div  class="contact__space">
              <a href="https://www.codewars.com/users/lucianodelboni">
                <img class="icon" src="../static/icons/ico_codewars.svg" alt="Codewars profile" width="60px" height="60px">
              </a> 
              <a href="https://www.codewars.com/users/lucianodelboni" class="contact__links">Codewars profile</a>
            </div>
            <div  class="contact__space">
              <a href="https://www.codewars.com/users/lucianodelboni">
                <img class="icon" src="../static/icons/ico_resume.svg" alt="Resume" width="60px" height="60px">
              </a> 
              <a href="https://www.codewars.com/users/lucianodelboni" class="contact__links">Download Resume</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="d-flex justify-content-center">
      <div class="footer__style">
        <span>©2022 Luciano Martins Delboni</span>        
      </div>
    </footer>

    
  </div><!--closing main-->

  <script>
    function ScrollToSection(section){
      document.querySelector(section).scrollIntoView({
        });
      return false
      }

    $(document).ready(function(){
      $('body').scrollspy({target: ".navbar", offset: 50});   
    });

  </script>
    
{% endblock %}
